<style>
  .hover-scale {
    transition: transform 0.3s ease-in-out;
  }

  .hover-scale:hover {
    transform: scale(1.05);
  }
</style>

<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden hover-scale">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="assets/shoes1.png">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-white title-font text-lg font-medium">Nike V2K Run</h2>
          <p class="mt-1">₱7,395.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden hover-scale">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="assets/shoes2.png">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-white title-font text-lg font-medium">Nike V2K Run Premium</h2>
          <p class="mt-1">₱7,395.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden hover-scale">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="assets/shoes3.png">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-white title-font text-lg font-medium">Nike V2K Run</h2>
          <p class="mt-1">₱6,895.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden hover-scale">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="assets/shoes4.png">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-white title-font text-lg font-medium">Nike Initiator</h2>
          <p class="mt-1">₱4,695.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden hover-scale">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="assets/shoes5.jfif">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-white title-font text-lg font-medium">Nike Air Humara</h2>
          <p class="mt-1">₱8,895.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden hover-scale">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="assets/shoes6.png">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-white title-font text-lg font-medium">Nike Cortez Textile</h2>
          <p class="mt-1">₱4,995.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden hover-scale">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="assets/shoes7.png">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-white title-font text-lg font-medium">Nike Air Humara</h2>
          <p class="mt-1">₱5,339.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden hover-scale">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="assets/shoes8.png">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-white title-font text-lg font-medium">Nike Phoenix Waffle</h2>
          <p class="mt-1">₱5,495.00</p>
        </div>
      </div>
    </div>
  </div>
</section>
